@import "../../node_modules/nib/index.styl"
@import "./vars.styl"
@import "./normalizer.styl"

html, body
  font-size 20px
  line-height 1.5

html, body, input, textarea, select, option, code, pre, button
  font-family "Avenir Next", sans-serif

div, ul, textarea
  ::-webkit-scrollbar-track
    background-color transparent

  ::-webkit-scrollbar-corner
    background-color: #999

  ::-webkit-scrollbar-button
    background-image none
    background-repeat no-repeat
    background-color #999 
    size 0px

  ::-webkit-scrollbar-thumb
    background-image none
    background-position center 
    background-repeat no-repeat 
    cursor pointer
    background-color #999
    border-radius 10px
    &:hover
      background-color #000

  ::-webkit-resizer 
    background-image none
    background-repeat no-repeat
    size 4px 0px
    background-color: #999

  ::-webkit-scrollbar
    size 4px
    background-color transparent